<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Atomy 간편 신청 - Atomy Member Register </title>

    <!-- First include jquery js -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
    <link href="../static/css/signUp.css" rel="stylesheet">
    <!--
    <script src="../static/js/signUp.js"></script>
    -->
    
    <link href="../static/css/toastr.css" rel="stylesheet"/>
    <script src="../static/js/toastr.js"></script>
    
  </head>
 
  <body>

    <div class="container">
	    <div class="row">
		    <div class="col-sm-4">

        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="Active" ><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
 		     <div class="col-sm-4">
      <div class="jumbotron">
        <h3>간편 회원 가입</h3>

	<form class="form-signin" action="{{ url_for('index') }}" method="post">
        <label for="inputName" class="sr-only">이름 (실명기재)</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="이름 (실명기재)" required autofocus>
        <label for="userId" class="sr-only">아이디</label>
        <input type="name" name="userId" id="userId" class="form-control" placeholder="아이디" required autofocus>
        <label for="inputPassword" class="sr-only">비밀번호</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="비밀번호" required>
        <label for="phone" class="sr-only">휴대폰 번호</label>
        <input type="name" name="phone" id="phone" class="form-control" placeholder="휴대폰 번호" required autofocus>
 	
	<label for="sample3_postcode" class="sr-only">우편번호</label>
	<input type="text" name="sample3_postcode" id="sample3_postcode" placeholder="우편번호" required autofocus>
	<input type="button" onclick="sample3_execDaumPostcode()" value="우편번호 찾기"><br>

	<div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
		<img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
	</div>
	<label for="sample3_address" class="sr-only">주소</label>
	<textarea type="text" name="sample3_address" id="sample3_address" class="form-control" rows="3" aria-label="주소" required> </textarea>

	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script>
    	// 우편번호 찾기 찾기 화면을 넣을 element
    		var element_wrap = document.getElementById('wrap');

    		function foldDaumPostcode() {
        		// iframe을 넣은 element를 안보이게 한다.
        		element_wrap.style.display = 'none';
	    	}

    		function sample3_execDaumPostcode() {
        		// 현재 scroll 위치를 저장해놓는다.
        		var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        		new daum.Postcode({
            			oncomplete: function(data) {
                		// 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                		// 각 주소의 노출 규칙에 따라 주소를 조합한다.
                		// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                		var fullAddr = data.address; // 최종 주소 변수
                		var extraAddr = ''; // 조합형 주소 변수

                		// 기본 주소가 도로명 타입일때 조합한다.
                		if(data.addressType === 'R'){
                    			//법정동명이 있을 경우 추가한다.
                    			if(data.bname !== ''){
                        			extraAddr += data.bname;
                    			}
					// 건물명이 있을 경우 추가한다.
					if(data.buildingName !== ''){
						extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
					fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                		}

				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				document.getElementById('sample3_postcode').value = data.zonecode; //5자리 새우편번호 사용
				document.getElementById('sample3_address').value = fullAddr;

				// iframe을 넣은 element를 안보이게 한다.
				// (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
				element_wrap.style.display = 'none';

				// 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
				document.body.scrollTop = currentScroll;
		    	},
		    	// 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
		    	onresize : function(size) {
				element_wrap.style.height = size.height+'px';
		    	},
			    width : '100%',
			    height : '100%'
			}).embed(element_wrap);

			// iframe을 넣은 element를 보이게 한다.
			element_wrap.style.display = 'block';
    		}
	</script>
	
        <label for="postDetail" class="sr-only">상세주소</label>
        <input type="text" name="postDetail" id="postDetail" class="form-control" placeholder="상세주소" required autofocus>
        <label for="bankName" class="sr-only">거래은행</label>
        <input type="text" name="bankName" id="bankName" class="form-control" placeholder="거래은행(예: 하나은행)" required autofocus>
        <label for="bankAccount" class="sr-only">계좌번호</label>
	<input type="text" name="bankAccount" id="bankAccount" class="form-control" placeholder="계좌번호" required autofocus>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">신청하기</button>

	
      </form>
      		</div>
		     </div>
      </div>
 
       
 
      <footer class="footer">
        <p>CGM Production, 2018 Corporate.</p>
      </footer>
 
    </div>
  </body>
</html>
